@-webkit-keyframes pageSlideOut {
	0% { -webkit-transform: scale(0.95) rotateX(1deg); opacity:1; }
	80% { }
	100% { -webkit-transform: scale(1) rotateX(180deg); opacity:1; }
}

@-webkit-keyframes pageSlideIn {
	0% { -webkit-transform: rotateX(-179deg); opacity:1; }
	20% {  }
	100% { -webkit-transform: rotateX(0deg); opacity:1; }
}

@-webkit-keyframes jobSlideIn {
	0% { -webkit-transform: translate(0,40%) scale(1.3); opacity:0; }
	40% { opacity:1; }
	100% { -webkit-transform: translate(0,0) scale(1); opacity:1; }
}

@-webkit-keyframes jobSlideOut {
	0% { -webkit-transform: translate(0,0); opacity:1; }
	60% { opacity:1; }
	100% { -webkit-transform: translate(0,-40%); opacity:0; }
}

@-webkit-keyframes pageToBg {
	0% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(0.95); }
}

@-webkit-keyframes pageFromBg {
	0% { -webkit-transform: scale(0.95); }
	100% { -webkit-transform: scale(1); }
}

body {
	-webkit-perspective: 500;
}

.page {
	&.slideOut {
		-webkit-animation: pageSlideOut 1s ease;
		-webkit-backface-visibility:hidden;
	}

	&.slideIn {
		-webkit-animation: pageSlideIn 1s ease;
		-webkit-backface-visibility:hidden;
	}

	&.toBg {
		-webkit-animation: pageToBg 0.4s ease;
	}

	&.bg {
		-webkit-transform: scale(0.95);
		overflow: hidden;
	}

	&.fromBg {
		-webkit-animation: pageFromBg 0.4s ease;
	}
}

#job {
	&.slideIn {
		-webkit-animation: jobSlideIn 0.5s ease-out;
	}

	&.slideOut {
		-webkit-animation: jobSlideOut 0.5s ease-out;
	}
}